
<div id='player_selection'>
  <h1 id='starting_question'> Who would you like to play first?</h1>
  <span>
    <form action='/humanplays', method='post'>
      <input value='Human plays first', type='submit', class='selection_button', style='float: right;'>
      </input>
    </form>
    <form action='/computerplays', method='post'>
      <input value='Computer plays first', type='submit', class='selection_button'>
      </input>
    </form>
    </span>
</div>
